# Supabase Public & Anon Keys (Required for Vercel Deployment)
NEXT_PUBLIC_SUPABASE_URL=https://zpapvtthlzralwkjaalf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwYXB2dHRobHpyYWx3a2phYWxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NjYwOTYsImV4cCI6MjEwNTE0MjA5Nn0.vLJtK9cvjrk19dyAS6D6ouJl_Zf1NnDvwoOVM6L-SPE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwYXB2dHRobHpyYWx3a2phYWxmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU2NjA5NiwiZXhwIjoyMTA1MTQyMDk2fQ.7ff5K9pbo5J4q_JXVCUGpSuMfy92CBXJE33go9xCvUY
NEXT_PUBLIC_SITE_URL=https://clubmanagement.vercel.app
